@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 4rem;
  background: rgb(21, 128, 61);
  background: linear-gradient(
    150deg,
    rgba(21, 128, 61, 1) 0%,
    rgba(21, 162, 73, 1) 35%
  );
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

header h1 {
  color: #fff;
  font-size: 2rem;
  margin: 0;
}

.subHeader {
  padding: 1rem 4rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subHeader h2 {
  margin: 0;
  font-weight: 500;
}

.optionsContainer {
  width: 70%;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.option h3 {
  margin: 0;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
}

.option input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 8px;
  font-size: 16px;
  border-radius: 5px;
  border-width: 1px;
  &:focus {
    outline-color: #16a34a;
  }
}

.option select {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 8px;
  font-size: 16px;
  border-radius: 5px;
  border-width: 1px;
  &:focus {
    outline-color: #16a34a;
  }
}

.hideButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: transparent;
  border: none;

  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.hideButton svg {
  width: 20px;
  height: 20px;
  fill: #000;
  background-color: white;
  padding-left: 8px;

  transition: fill 0.15s ease;
}

.hideButton:hover svg {
  fill: #6b7280;
}

.confirmButton {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 8px;
  border: 0;
  font-weight: 300;
  cursor: pointer;
  transition: 0.15s ease;
  background-color: #16a34a;
  color: #fff;
  &:hover {
    background-color: #15803d;
  }
}

.deleteButton {
  padding: 8px 16px;
  border-radius: 8px;
  border: 0;
  font-weight: 400;
  cursor: pointer;
  transition: 0.15s ease;
  background-color: transparent;
  color: #ef4444;
  &:hover {
    background-color: #fef2f2;
  }
}

.infoContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.keyApproval {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcfce7;
  padding: 8px 16px;
  border-radius: 8px;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.keyApproval p {
  color: #16a34a;
}

#closeInfo {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 16px;
  border-radius: 7px;

  display: flex;
  align-items: center;
}

#model:hover,
#overlineLabel:hover,
#overlineInput:hover {
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: 18px;
  padding-right: 16px;

  background-color: #fff;
  width: 400px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

  font-weight: 300;
  font-size: 14px;
}

.infoIcon:hover + .tooltip {
  visibility: visible;
}
